* {
    background-image: none;
    font-size: 12px;
}

@import "theme.css";

window {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    color: white;
    background-color: @main-fg;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
    border-radius: 80px 80px 80px 80px;
}

button:focus {
    background-color: @wb-act-bg;
    background-size: 20%;
}

button:hover {
    background-color: #f5c2e7;
    background-size: 30%;
    border-radius: 50px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock,
button:hover#logout,
button:hover#shutdown,
button:hover#reboot,
button:hover#suspend {
    background-color: #f5c2e7;
    margin: -50px 0px -50px 0px;
}

#lock {
    background-image: image(url("icons/lock_black.png"));
    background-color: #fab387;
}

#shutdown {
    background-image: image(url("icons/shutdown_black.png"));
    background-color: #f38ba8;
}

#suspend {
    background-image: image(url("icons/suspend_black.png"));
    background-color: #f9e2af;
}

#reboot {
    background-image: image(url("icons/reboot_black.png"));
    background-color: #a6e3a1;
}

#logout {
    background-image: image(url("icons/logout_black.png"));
    background-color: #89b4fa;
}
